* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
main {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: auto;
}

figure,
figure img {
    display: inline-block;
    width: 100%;
}

figure {
    position: relative;
    transition: all ease .4s;
    transform-style: preserve-3d;
    transform: perspective(600px) rotateY(0deg);
    cursor: pointer;
   
}

figure::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0);
    transition: 0.3s all ease;
}

figure:hover:after {
    background: rgba(255, 255, 255, 0.137);
}

figure.opened {
    transform: perspective(600px) rotateY(180deg);
}

figure .back {
    display: block;
    backface-visibility: hidden;
}

figure .searched-image {
    position: absolute;
    top: 0;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    background-color: #6fc3dd;
    font-family: 'Poppins', sans-serif;
    
}
h1{
text-align: center;
color: white;

}

#container{
    background-color: #f8f8f8;
    position: relative;
    width: 90px;
    height: 40px;
    box-shadow: inset 4px 4px 6px #04eb18,
                inset -4px -4px 6px #04eb18;
    margin: 10px;
    margin-top: 0px;
    border-radius: 35px;
    cursor: pointer;
}

.toggle{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    transform: scale(.7);
    background-color: linear-gradient(145deg,#d8d8d8,#fff);
    border-radius: 25px;
    box-shadow: 3px 3px 8px #cecece,
                -3px -3px 8px #fff;
}

#container.active .toggle{
    left: 40px;
}

body.active{
    background-color: black;
}